
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="section__title ingredients__title">Природный состав крема Dr.Derm</div>
            <div class="ingredients__body">
                <div class="ingredients__rotate">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                        <div class="ingredients__name">Масло ши</div>
                        <div class="ingredients__description">Снимает воспаление, боль и зуд. Снижает чрезмерную активность клеток кожи.</div>
                    </div>
                </div>
                <div class="ingredients__rotate">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                        <div class="ingredients__name">Масло семян белой пихты</div>
                        <div class="ingredients__description">Питает и увлажняет кожу. Устраняет сухость и останавливает шелушение.</div>
                    </div>
                </div>
                <div class="ingredients__rotate">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                        <div class="ingredients__name">Сухой экстракт алоэ</div>
                        <div class="ingredients__description">Усиливает регенерацию клеток, навсегда избавляя от следов псориаза.</div>
                    </div>
                </div>
                <div class="ingredients__rotate">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                        <div class="ingredients__name">Золотой ус</div>
                        <div class="ingredients__description">Предотвращает переход заболевания из острой стадии в хроническую, активируя иммунитет.</div>
                    </div>
                </div>
                <div class="ingredients__rotate">
                    <div class="ingredients__item">
                        <div class="ingredients__media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                        <div class="ingredients__name">Шалфей</div>
                        <div class="ingredients__description">Дезинфицирует и останавливает воспаления. Способствует активному заживлению кожи.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
